html {
    background-color: #3a3a46; 
    color: #f1b23f;
}

body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
}

.page-header {
    margin-left: 20px;
}

.project-listing {
    background-color: #666;
    border-radius: 20px;
    padding: 20px;
}

.project-listing h2 {
    margin: 0px 0px 10px 0px;
}

.project-item .react-icon,
.project-item .golang-icon,
.project-item .php-icon {
    width: 50px;
    height: 50px;
    background-size: 50px 50px;
}

.project-item .react-icon {
    background-image: url('/icons/react-128.png');
}
.project-item .golang-icon {
    background-image: url('/icons/golang-490.png');
}
.project-item .php-icon {
    background-image: url('/icons/php-128.png');
}
